[Desktop Entry]
Type=Application
Name=Pulse Supernova Linux
Comment=System Health. Optimized.
Exec=pulse-platform
Icon=pulse-platform
Terminal=false
Categories=System;Utility;
StartupNotify=true
